.right-sec {
  flex: 0.3;
  padding: 1rem;
  background-color: rgb(232, 230, 230);
}

.rightSec-input {
  padding: 0.5rem;
  border: 1px solid;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 30px;
}
.rightSec-input input {
  list-style: none;
  font-size: 15px;
  width: 100%;
  border-radius: 30px;
  border: navajowhite;
  background-color: rgb(232, 230, 230);
}
