.sidebarOption {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  cursor: pointer;
  padding: 20px;
}

.sidebarOption h2 {
  font-size: 20px;
  font-weight: 700;
}
.sidebarOption:hover {
  border-radius: 30px;
  background-color: lightcyan;
}
.active {
  color: rgb(0, 229, 255);
}
